@model UCode.App.ViewModels.ComprovanteViewModel

@{
    ViewData["Title"] = "Novo Comprovante";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="AtividadeId" class="control-label"></label>
                <select asp-for="AtividadeId" class="form-control select2" asp-items="@(new SelectList(Model.Atividades, "Id", "Detalhes"))">
                    <option></option>
                </select>
                <span asp-validation-for="AtividadeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProgressaoId" class="control-label"></label>
                <select asp-for="ProgressaoId" class="form-control select2" asp-items="@(new SelectList(Model.Progressaos, "Id", "Observacao"))">
                    <option></option>
                </select>
                <span asp-validation-for="AtividadeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data" class="control-label"></label>
                <input asp-for="Data" type="datetime-local" class="form-control" />
                <span asp-validation-for="Data" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataFinal" class="control-label"></label>
                <input asp-for="DataFinal" type="datetime-local" class="form-control" />
                <span asp-validation-for="DataFinal" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Quantidade" class="control-label"></label>
                <input asp-for="Quantidade" class="form-control" />
                <span asp-validation-for="Quantidade" class="text-danger"></span>
            </div>
            
            <!-- Adicione este bloco para exibir a imagem -->
            <div class="form-group">
                <label asp-for="ImagemUpload" class="control-label"></label>

                <div class="custom-file">
                    <input type="file" class="custom-file-input" id="ImagemUpload" asp-for="ImagemUpload">
                    <label data-browse="Procurar" style="width: 400px" class="custom-file-label" for="ImagemUpload"></label>
                    <label style="display: none" id="img_nome"></label>
                </div>

                <span asp-validation-for="ImagemUpload" class="text-danger"></span>
            </div>          

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
                <a class="btn btn-info" asp-action="Index">Voltar</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    <script>
        $("#ImagemUpload").change(function () {
            $("#img_nome").text(this.files[0].name);
            $("#img_nome")[0].style.display = 'block';
        });
        $("#ImagemUpload").attr("data-val", "true");
        $("#ImagemUpload").attr("data-val-required", "Preencha o campo Imagem");
    </script>
}
